.users {
padding: 10px
}

.photo {
    height: 100px;
}
.preloader {
    height: 200px;
}

.selectedPage {
    font-weight: bold;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}