.image img {
    height: 300px;
}

.descriptionBlock {
    padding: 10px;
}

.mainFoto {
    max-height: 300px;
}

.contacts {
    padding-left: 20px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}